{% extends 'layout/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="card">
                <div class="card-header">
                    <strong>Add Employee</strong>
                </div> <!-- card-header -->
                <div class="card-body card-block">
                        <div class="row form-group">
                            <div class="col col-md-2">
                                <label for="hf-email" class="form-control-label mt-2">First Name</label>
                            </div>
                            <div class="col-12 col-md-10">
                                <input type="email" id="hf-email" name="hf-email" placeholder="Mehdi" class="form-control">
                            </div>
                        </div> <!-- .col -->
                        <div class="row form-group">
                            <div class="col col-md-2">
                                <label for="hf-email" class="form-control-label mt-2">Last Name</label>
                            </div>
                            <div class="col-12 col-md-10">
                                <input type="email" id="hf-email" name="hf-email" placeholder="ElHaij" class="form-control">
                            </div>
                        </div> <!-- .col -->
                        <div class="row form-group">
                            <div class="col col-md-2">
                                <label for="hf-email" class="form-control-label mt-2">Departement</label>
                            </div>
                            <div class="col-12 col-md-10">
                                <input type="email" id="hf-email" name="hf-email" placeholder="IT" class="form-control">
                            </div>
                        </div> <!-- .col -->
                        <div class="row form-group">
                            <div class="col col-md-2">
                                <label for="hf-email" class="form-control-label mt-2">Code</label>
                            </div>
                            <div class="col-12 col-md-10">
                                <input type="email" id="hf-email" name="hf-email" placeholder="NXT8876" class="form-control">
                            </div>
                        </div> <!-- .col -->
                    </div> <!-- .card-body -->
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Submit
                            </button>
                            <button type="reset" class="btn btn-danger btn-sm">
                                <i class="fa fa-ban"></i> Reset
                            </button>
                        </div>
                    </div> <!-- .card-footer -->
                </div> <!-- .card -->
            </form>
        </div> <!-- .col -->
    </div> <!-- .row -->
{% endblock %}