{% extends 'layout/base.html' %}
{% from 'macros/form.html' import horizental_input %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <strong>Info</strong>
                </div> <!-- .card-header -->
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Name</dt>
                        <dd class="col-sm-9">{{ access.name }}</dd>
        
                        <dt class="col-sm-3">Start Time</dt>
                        <dd class="col-sm-9">{{ access.start_time|datetime }}</dd>
        
                        <dt class="col-sm-3">End Time</dt>
                        <dd class="col-sm-9">{{ access.end_time|datetime }}</dd>
                    </dl>
                    <div class="text-right">
                        <a href="/access/delete/i/{{access.id}}" class="btn btn-sm btn-outline-danger">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </div>
                    <hr>
                    <h4 class="my-4">Add Badge to <b>{{ access.name }}</b></h4>
                    <form action="" method="POST" class="form-horizontal">
                        {{ horizental_input(form.code_hex) }}
                        <button type="submit" class="btn btn-primary float-right"><i class="fa fa-plus-circle"></i> Add Badge</button>
                    </form>
                </div> <!-- card-body -->
            </div>
        </div> <!-- .col -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <strong>Badges</strong>
                </div> <!-- .card-header -->
                <div class="card-body">
                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Badge</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for employee in access.employees %}
                            <tr>
                                <td>{{ employee.name }}</td>
                                <td>{{ employee.code }}</td>
                                <td class="text-center">
                                    <a href="/access/delete/c/{{employee.code}}/{{access.id}}" class="btn btn-sm btn-outline-danger">
                                        <i class="fa fa-trash"></i> Delete
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- card-body -->
            </div>
        </div>
    </div> <!-- .row -->
{% endblock %}